*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue;
}

body {
    background-color: #f8f9fa;
    background-image: linear-gradient(to bottom, #adb5bd, white);
}

h2 {
    display: flex;
    text-align: center;
    top: 0;
}

section header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a189a;
}

div {
    text-align: center;
}

#timer {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 32px;
    color: #5a189a;
}

.nav-home {
    background-color: #5a189a;
    background-image: linear-gradient(to bottom right, #7b2cbf, #240046);
    padding: 20px;
}

.nav-scores {
    background-color: #dee2e6;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.home-text {
    text-decoration: none;
    display: flex;
    color: white;
    font-family: Helvetica Neue;
    align-items: flex-start;
}

.score-text {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    color: #5a189a;
    font-family: Helvetica Neue;
    align-items: center;
    justify-content: center;
}

.score-text:hover {
    display: flex;
    color: #7b2cbf;
    font-family: Helvetica Neue;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a189a;
    background-image: linear-gradient(to bottom left, #7b2cbf, #240046);
    padding: 20px 10px 20px 10px;
    border-top: solid 3px white;
}

footer h3 {
    font-weight: normal;
    color: #f8f9fa;
}

#start-btn {
    display: block;
    width: 15%;
    border: none;
    background-color: #5a189a;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
}
