*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue;
}

body {
    background-color: #f8f9fa;
    background-image: linear-gradient(to bottom, #adb5bd, white);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 32px;
}

div {
    text-align: center;
}

table{
    border-collapse: collapse;
    border: 1px solid #f8f9fa;
    }
    
table td{
    padding: 5px;
    background-color: #5a189a;
    background-image: linear-gradient(to right, #5a189a, #240046);
    color: white;
    border:1px solid #f8f9fa;
    width: 30vw;
}

table th {
    padding: 5px;
    background-color: #240046;
    color: #f8f9fa;
}

#timer {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 32px;
    color: #5a189a;
}

.nav-home {
    background-color: #5a189a;
    background-image: linear-gradient(to bottom right, #7b2cbf, #240046);
    padding: 20px;
}

.nav-scores h2 {
    background-color: #dee2e6;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    color: #5a189a;
    font-family: Helvetica Neue;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 60px;
  }

.home-text {
    text-decoration: none;
    display: flex;
    color: white;
    font-family: Helvetica Neue;
    align-items: flex-start;
}

.score-text {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    color: #5a189a;
    font-family: Helvetica Neue;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.score-text:hover {
    display: flex;
    color: #7b2cbf;
    font-family: Helvetica Neue;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a189a;
    background-image: linear-gradient(to bottom left, #7b2cbf, #240046);
    padding: 20px 10px 20px 10px;
    border-top: solid 3px white;
}

footer h3 {
    font-weight: normal;
    color: #f8f9fa;
}

#start-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #5a189a;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
}

#answer-btn {
    display: block;
    margin: 10px auto;
    width: 50%;
    border: none;
    background-color: #5a189a;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
}

#submit {
    display: block;
    margin: 10px auto;
    width: 100%;
    border: none;
    background-color: #5a189a;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
}

#initials {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}
